.m-header {
    @extend %display-row;
    @include rem(padding, $padding-components);
    background: $color-white;

    & .m-container {
        @extend %display-row;
        justify-content: space-between;
    }

    &__navMenu {
        display: flex;
        width: 50%;

        &__items {
            display: flex;
            width: 100%;
            & ul {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                & li {
                    padding: 0 10px;
                }
            }
        }
    }
}

.m-logo {
    display: flex;
    width: 50%;
}