.m-container {
    &__contentPost {
        h1 { @include rem(font-size, 35px); }
        h2 { @include rem(font-size, 30px); }
        h3 { @include rem(font-size, 25px); }
        h4 { @include rem(font-size, 20px); }
        h5 { @include rem(font-size, 15px); }
        h6 { @include rem(font-size, 14px); }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @include reset-box-model;
            color:  $color-default-text;
            font-weight: (bold);
            margin: $margin-title-default;
            
        }

        a {
            @include reset-link;
            color:  $color-default-text;
            margin-bottom: $margin-bottom-default;
        }

        p {
            color:  $color-default-text; 
            @include rem(font-size, $font-size);
            @include rem(line-height, $font-height);
            margin-bottom: $margin-bottom-default;
        }

        figure {
            margin: 0px;
        }

        pre {
            background: $color-white;
            @include rem(border-radius, 5px);
            @include rem(padding, 20px);
            @include rem(margin-bottom, 20px);
        }

        input,
        textarea,
        select {
            border: $border-style;
            @include rem(padding, 5px 15px);
            @include rem(border-radius, 4px);
            @include rem(margin-bottom, 10px);
        }

        input[type="file"] {
            border: 0px;
        }
    }
}